html body div.main-container blockquote,p {font-size: 12px;}
body div.main-container h1 {font-size: 30px;}
body div.main-container h2 {font-size: 25px;}
body div.main-container h3 {font-size: 20px;}
body div.main-container h4 {font-size: 15px;}